.container {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.rows {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
img {
	height: 40%;
	width: 40%;
	max-width: 25em;
	max-height: 25em;
	border-left: 1em solid #000;
}
#art1 {
	background-color: #8ED4AA;
	padding: .5em;
	color:#5e3e78;
	padding-bottom: 0;
	padding-right: 2em;
	border-bottom: 1em solid #000;
}
#art2 {
	background-color: #AE73DF;
	color: #fff;
	padding-left: .5em;
	flex-wrap: nowrap;
}
#coming-soon {
	border-top: 1em solid #000;
	border-bottom: 1em solid #000;
}
#coming {
	background-color: #FFCEDF;
	padding: 1em;
	color: #fff;
	border-right: 1em solid #000;
}
#soon {
	padding: 1em;
	color: #FFCEDF;
}
footer {
	background-color: #ABCEFA;
	text-align: center;
	padding: 1em;
	
}





h1 {
	font-family: 'Fascinate', cursive;
	font-size: 5.5em;
	text-shadow: .05em .05em #d9d9d9;
	margin-bottom: 0;
	text-align: right;
}
h3 {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 2em;
}
h4 {
	font-family: 'Frijole', cursive;
	font-size: 3em;
}
p, a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}
a {
	text-decoration: none;
}
a:hover {
	color: #fff;
}